@page
@model Razorr3_10266464.Pages.Empleados.AgregarEmpleadosModel
@{
}
<h1>Ingresar nuevos empleados</h1>

<form class="form-group" action ="" method="post">
    <input class="form-control" type="text"
    asp-for="Empleado.Nombre" placeholder="Nombre">
    <input class="form-control" type="number" placeholder="Edad">
    <input class="form-control" type="email" placeholder="Email">
    <input class="form-control" type="text" placeholder="Direccion">
    <input class="form-control" type="text" placeholder="TelÈfono">
    <input class="form-control" type="text" placeholder="Departamento">

    <button type="submit">Cargar Empleados</button>
</form>
