@page
@model Razorr3_10266464.Pages.EmpleadosModel
@{
    ViewData["Title"] = "Sector Contabilidad";
}

<div class="container">
    <h1>Sector contabilidad</h1>
    <p>En esta seccion puedes ver a los empleados de contabilidad</p>
</div>
