@page
@model RutasPracticaRodri.Pages.Empleados.Index1Model
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Inicio</a></li>
    </ol>
</nav>

<div class="alert alert-primary" role="alert">
    <h1>Bienvenido al gestor Razor</h1>
</div>