@page
@model Razorr3_10266464.Pages.Empleados.OficinaPracticaModel

@{
    ViewData["Title"] = "OficinaPractica";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>OficinaPractica</h1>

<h4>Oficina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Oficina.NombreOficina" class="control-label"></label>
                <input asp-for="Oficina.NombreOficina" class="form-control" />
                <span asp-validation-for="Oficina.NombreOficina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oficina.Ubicacion" class="control-label"></label>
                <input asp-for="Oficina.Ubicacion" class="form-control" />
                <span asp-validation-for="Oficina.Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
